/* Lang */

.lang {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 14px;
  align-self: start;
  width: 144px;
  height: 40px;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy Bold', sans-serif;
  font-size: 34px;
  font-weight: bold;
  transform: rotate(90deg);
}

@media (min-width: 600px) {
  .lang {
    width: 65px;
    height: 20px;
    font-size: 16px;
  }
}

/* Item */

.lang__item {
  z-index: 1;
  position: relative;
  display: block;
  text-transform: uppercase;
}

.lang__item::after {
  position: absolute;
  content: "|";
  display: block;
  font-size: inherit;
}

@media (max-width: 599px) {
  .lang__item::after {
    bottom: 0;
    right: -12px;
  }
}

@media (min-width: 600px) {
  .lang__item::after {
    bottom: 0;
    right: -10px;
  }
}

.lang__item:last-child::after {
  display: none;
}

/* link*/

.lang__link {
  color: #828282;
  text-decoration: none;
}

.lang__link--current,
.lang__item:hover .lang__link,
.lang__link:active,
.lang__link:focus {
  color: #090909;
}