/* Stars */

.stars {
  text-align: center;
}

/* Sprite */

.stars__sprite {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}